@model List<Order>
@{
    ViewBag.Title = ViewData["Title"] = "Home Page";

    bool DeliveredOrNah(Order order)
    {
        if (order.DeliveryDate < DateTime.Now)
        {
            //string Overdue(ToDo task) => task.Overdue ? "bg-warning" : "";
            return true;
        }

        return false;
    }
}
<br />
<h6 class="">
</h6>
<p>
    <i>We are happy to have you here today, to witness a new style of online order tracking system.</i>
    <i>
        This is version 0.1 of the <strong>Shipify</strong> web application. Stay tuned for version 0.2 and experience
        a new automated system that pull's data from a tracking number, instead of having to input multiple fileds.
    </i>
    <br>

    <br />
</p>

<hr />

<br />

@if (@Model != null)
{
    <h2> <strong>| Orders&#128230; |</strong> </h2>

    <div class="col-sm-13">

        <table class="table table-bordered table-striped mt-2 centered">
            <thead>
                <tr>
                    <th>OrderId</th>
                    <th>Description</th>
                    <th>Ordered from</th>
                    <th>Carrier</th>
                    <th>Order Placed date</th>
                    <th>Delivery date</th>
                    <th>Cost</th>
                    <th>Shiping cost</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Order order in Model)
                {
                    var warn = "";

                    if (DeliveredOrNah(order))
                    {
                        warn = "bg-success";
                    }
                    else
                    {
                        warn = "";
                    }

                    <tr>
                        <td>@order.OrderId</td>
                        <td>@order.Description</td>
                        <td>@order.OrderedFrom</td>
                        <td>@order.Carrier</td>
                        <td>@order.OrderPlacedDate?.ToShortDateString()</td>
                        <td class="@warn">@order.DeliveryDate?.ToShortDateString()</td>
                        <td>$@String.Format("{0:0.00}", order.Cost)</td>
                        <td>$@String.Format("{0:0.00}", order.ShipmentFee)</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <h2>| Filter Tool&#128270; |</h2>

        <form method="post">

            <div class="form-group">
                <label>Carrier:</label>
                <input type="text" name="Carrier" class="form-control">
            </div>

            <div class="form-group">
                <label>Order from:</label>
                <input type="text" name="OrderedFrom" class="form-control mb-4">
            </div>


            <button type="submit" class="btn btn-primary">Search</button>
            <a asp-action="Index" class="btn btn-primary">Cancel</a>
            <br />

        </form>


    </div>

}
else
{
    <p>Data Not Found!</p>
    <br />
    <a href="/Home/Index">Home</a>
}

